<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homeapp/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Home app Django Base</h1>
    <!-- 2 way in show my image -->
    <img src="{% static 'homeapp/image/homeapp/pic_1.jpg' %}" alt="" width="400px">
    <img src="{% get_static_prefix %}homeapp/image/homeapp/pic_2.jpg" alt="" width="400px">
    <form action="">
        <input type="button" value="Cleck Me" onclick="disp()">
    </form>

   <script src="{% static 'homeapp/js/scripts.js' %}"></script>
</body>
</html>