<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- First context base data pass dynamic way -->
    <!-- <h1>Django Base First App</h1>
    <h2>Name : {{name}}</h2>
    <h3>Roll : {{roll}}</h3> -->

    <!-- First context base data pass dynamic way -->
    <h1>Django Base Second App</h1>
    <h2>Name : {{nm}}</h2>
    <h3>Roll : {{rol}}</h3>
</body>
</html>