<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- First context base data pass dynamic way -->
    <!-- <h1>Django Base First App</h1>
    <h2>Name : {{name}}</h2>
    <h3>Roll : {{roll}}</h3> -->

    <!-- First context base data pass dynamic way -->
<!--     <h1>Django Base Second App</h1>
    <h2>Name : {{nm}}</h2>
    <h3>Roll : {{rol}}</h3> -->

    <!-- Topic Is Cover Django Base Filters in class/tutorial -->
     <h1>Name Is : {{nm|upper}} --- Use to upper</h1>
     <h1>Discriptions Is : {{dis|truncatechars:3}}  --- Use to truncatechars</h1>
     <h1>Name Is : {{nm|lower}} --- Use to lower</h1>
     <h1>Name Is : {{nm|capfirst}} --- Use to capfirst First word is Capital type</h1>
     <h1>Name Is : {{nm|length_is}} --- Use to lower</h1>
     <h1>Name Is : {{nm|slice}} --- Use to lower</h1>
     <h1>Name Is : {{nm|truncatechars}} --- Use to lower</h1>
    
</body>
</html>
